/* First page(upload Image) */
.outerFleChoose{
    border: 1px dotted black;
    border-radius: 5px;
    width: 100%;
}
.imgSelectShow{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.fileChoose{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    background-color: antiquewhite;
}
.showimgs{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}
.message{
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.footer input , footer a{
    width: 300px;
}
/* thumb */

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
.gelleryimg{
    height: 100px;
    border: 1px solid black;
    margin: 10px 5px 10px 5px;
}

/* //Add to fav image--------------------------------------
function addtofav(favimg) {
    localStorage.setItem('favimg',JSON.stringify(favimg.src));
    if (localStorage && favimg) {
        alert("done to added")
        let favsimglocal = localStorage.getItem('favimg');
        let favimgarr = [];
        if (favsimglocal) {
            favimgarr = [...JSON.parse(favsimglocal)];
            favimgarr.push(favsimglocal);
        } else {
            favimgarr.push(favsimglocal);
        }

    let showfavimg = document.getElementById("favimgofgallery");
    showfavimg = '<img class="gelleryimg" src="',JSON.parse(localStorage.getItem(favimg)),'"/>';
    }
}

//add to gellary page-----------------------------------
window.onload = function gettimgFromLcStg(e) {
    // let previewimg = document.getElementById('imglists');
    // let f = localStorage.getItem('marv1.jpg');
    // for (var i = 0;i <window.localStorage.length;i++) {
    //     var reader = new FileReader();
    //     reader.onload = (function(theFile) {
    //       return function(e) {
    //         var span = document.createElement('span');
    //         span.innerHTML = ['<img class="thumb" src="', e.target.result,
    //                           '" title="', escape(theFile.name), '"/>'].join('');
              
    //         document.getElementById('imglists').insertBefore(span, null);
    //       };
    //     })(f);
    //     reader.readAsDataURL(f);
    //   }
    // const img = new Image();
    // img.scr = f;
    // console.log(previewimg.appendChild(img.scr));
    const images = JSON.parse(localStorage.getItem('images'));
    // images.forEach((image) => {
    //     let previewimg = document.getElementById('imglists');
    //     previewimg.innerHTML += ['<img class="thumb" src="', image,'" title="', '"/>'].join('');
    // });
    images.map((val,idx,arr)=>{
        let preview = document.getElementById('imglists');
        preview.innerHTML += ['<img ondblclick="addtofav(this)" class="gelleryimg" src="',val,'" id= "',idx,'"/>'].join('');
    });
}

// $(document).ready(function addtofav(img) {
//     localStorage.setItem('forfav', img);
//     let favimgtopg = localStorage.getItem('forfav')
//     $("#favimg").append(favimgtopg);
// });


function uploadimages(e) {
    let file = e.target.files;
    let reader = new FileReader();
    // var name = document.getElementById('files').files[0].name;
    reader.addEventListener('load',function () {
        if (this.result && localStorage) {
            const imagesArray = localStorage.getItem('images');
            let images = [];
            if (imagesArray) {
                images = [...JSON.parse(imagesArray)];
                images.push(reader.result);
            } else {
                images.push(reader.result);
            }
            localStorage.setItem('images', JSON.stringify(images));
            alert("Image Storage in gellery page")
            gettimgFromLcStg();
        } else{
            alert('not success');
        }
    })
    reader.readAsDataURL(document.getElementById('files').files[0]);
}


//show the selected image to uploading page------------------------------------------------
function UploadimgAtMainPg(e) {
    var files = e.target.files;
    for (var i = 0, f; f = files[i]; i++) {
      var reader = new FileReader();
      reader.onload = (function(theFile) {
        return function(e) {
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('imglist').insertBefore(span, null);
        };
      })(f);
      reader.readAsDataURL(f);
    }
  }
document.getElementById('files').addEventListener('change', UploadimgAtMainPg, false);


//for cancel the selected image on uploading page-------------------------------------------------
function clearimg() {
    location.reload();
} */

